$baseGray: #031126;
$navGray: #021530;
$modalGray: #091E42;
$subtextGray: #808DAD;
$textWhite: #EBECF0;

$primaryBlue: #0065FF;
$confirmGreen: #36B37E;
$warningYellow: #FFAB00;
$errorRed: #FF5630;
$helpPurple: #6554C0;
$accentTeal: #00B8D9;

$iconGray: brightness(0) saturate(100%) invert(62%) sepia(15%) saturate(591%) hue-rotate(185deg) brightness(86%) contrast(90%);
