@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$baseGray: #031126;
$navGray: #021530;
$modalGray: #091E42;
$subtextGray: #808DAD;
$textWhite: #EBECF0;

$primaryBlue: #0065FF;
$confirmGreen: #36B37E;
$warningYellow: #FFAB00;
$errorRed: #FF5630;
$helpPurple: #6554C0;
$accentTeal: #00B8D9;

$iconGray: brightness(0) saturate(100%) invert(62%) sepia(15%) saturate(591%) hue-rotate(185deg) brightness(86%) contrast(90%);

body {
    background-color: $baseGray;
}

.logo {
    color: $textWhite;
    font-family: agenda-one, sans-serif;
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    padding-top: 0.5em;
    margin-left: 0.5em;
}

.sidenav {
    width: 10%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: $navGray;
    border-right: 1px solid #1d2a3e;
}

.sidenav-link {
    font-family: Inter;
    text-decoration: none;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    color: $subtextGray;
    border-radius: 5px;
}

.sidenav-link:hover {
    background-color: $modalGray;
    color: $textWhite;
}

.sidenav > .active {
    background-color: $helpPurple;
    color: $textWhite;
    pointer-events: none;
}

.nav-icon {
    width: 16px;
    height: 100%;
    padding-right: 1em;
    filter: $iconGray;
}

.sidenav > .active > .nav-icon, .sidenav-link:hover > .nav-icon {
    filter: none;
}

.logo-icon {
    width: 20px;
    height: 100%;
    padding-right:5px;
}