@use 'variables';
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

h2 {
    font-family: Inter Medium;
    font-size: 18px;
    color: variables.$subtextGray;
    margin-bottom: 40px;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 6, 16, 0.85);
}

.modal-popup {
    box-sizing: border-box;
    margin: 10% auto;
    width: 60%;
    padding: 40px 100px;
    border-radius: 5px;
    color: #fff;
    background-color: variables.$navGray;
}

.modal-popup > label {
    font-family: Inter SemiBold;
    font-size: 13px;
    color: variables.$textWhite;
    padding-bottom:5px;
}

::placeholder {
    font-family: Inter;
    color: variables.$subtextGray;
}

.modal-popup > input {
    width: 100%;
    background-color: variables.$modalGray;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: Inter;
    color: variables.$textWhite;
    margin-top: 5px;
    margin-bottom: 25px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    background-color: #0b2550;
}