@use 'variables';
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    user-select:none;
    background-color: variables.$baseGray;
}

.logo {
    color: variables.$textWhite;
    font-family: agenda-one, sans-serif;
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    padding-top: 0.5em;
    margin-left: 0.5em;
}

.sidenav {
    z-index: 5000;
    width: 170px;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: variables.$navGray;
    border-right: 1px solid #1d2a3e;
}

#mobile-nav-wrapper {
    display: none;
}

#mobile-nav--bkg {
    background-color: rgba(0, 6, 16, 0.85);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
}

#time-mobile-wrapper {
    color: variables.$textWhite;
    background-color: variables.$helpPurple;
    border-radius: 20px;
    padding: 5px 20px;
}

/* Desktop-rendered content */
@media only screen and (min-width: 851px) {
    .sidenav {
        display: block !important;
        min-width: auto;
        width: 170px !important;
    }

    #mobile-nav--bkg {
        display: none !important;
    }
}

/* Mobile-rendered content */
@media only screen and (max-width: 850px) {
    .sidenav {
        display: none;
        min-width: 170px;
    }

    #page-container {
        margin: 50px 0px 0px 0px;
    }

    #mobile-nav-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        min-width: 250px;
    }
}

.sidenav-link {
    font-family: Inter;
    text-decoration: none;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    color: variables.$subtextGray;
    border-radius: 5px;
}

.sidenav-link:hover {
    background-color: variables.$modalGray;
    color: variables.$textWhite;
}

.sidenav > .active {
    background-color: variables.$helpPurple;
    color: variables.$textWhite;
    pointer-events: none;
}

.nav-icon {
    width: 16px;
    height: 100%;
    padding-right: 1em;
    filter: variables.$iconGray;
}

.sidenav > .active > .nav-icon, .sidenav-link:hover > .nav-icon {
    filter: none;
}

.logo-icon {
    width: 20px;
    height: 100%;
    padding-right:5px;
}