@use 'variables';
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.focus-wrapper {
  margin-top: 75px;
  padding: 0px 33%;
  display: flex;
  aspect-ratio: 1/1;
  min-height: 450px;
  max-height: 450px;
}

.pomodoro-wrapper {
    flex: 1;
    display: inline-block;
    
}

.pomodoro-session--buttons {
  gap: 35px;
  width: 100%;
  height: 15%;
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}

.pomodoro-buttons {
  cursor: pointer;
  flex: 1;
  font-family: Inter Medium;
  font-size: 18px;
  color: variables.$subtextGray;
  background-color: transparent;
  border: 0px solid;
  padding-bottom: 3px;
}

.active-state {
  color: variables.$textWhite;
  border-bottom: 2px solid variables.$textWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.next-time {
  margin-top: 0px;
  margin-bottom: 3px;
  color: variables.$subtextGray;
  opacity: 50%;
}

.active-state .next-time {
  display: none;
}

.pomodoro-timer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.outer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: variables.$modalGray;
  padding: 7%;
  position: relative;
  z-index: 0;
}

.inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: variables.$baseGray;
  z-index: 1;
}

circle {
  fill: none;
  stroke: variables.$helpPurple;
  stroke-width: 40px;
  stroke-dasharray: 1159;
  stroke-dashoffset: 1159;
  transition: stroke-dashoffset 1s linear;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

svg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#session-number {
  font-family: Inter Medium;
  color: variables.$helpPurple;
}

#cycle-number {
  font-family: Inter Medium;
  color: variables.$warningYellow;
}

#time-remaining {
  display: block;
  font-family: Inter Medium;
  font-weight: 500;
  color: variables.$textWhite;
  font-size: 65px;
}

#timer-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-direction: row;
}

.timer-button {
  background-color: transparent;
  border: 0px solid;
  width: 40px;
  filter: variables.$iconGray;
  opacity: 50%;
}

.timer-button:hover {
  filter: none;
}

.timer-button:active {
  filter: none;
  opacity: 100%;
}

.hidden {
  display: none;
}

.timer-svg, .back-svg, .next-svg {
  pointer-events: none;
}

.settings-icon {
  width: 20px;
  pointer-events: none;
  cursor: pointer;
  margin-right: 15px;
  display: none;
}

#content-wrapper {
  position: absolute;
  bottom: 0px;
  margin-left: -16px;
  padding: 5px;
}

#stopwatch-text {
  color: variables.$textWhite;
  font-size: 22px;
  font-family: Inter ExtraLight;
  flex: 1;
  margin: 0px;
  text-align: left;
}

#icon-wrapper {
  display: flex;
  align-items: center;
}

#stopwatch-wrapper {
  display: flex;
  flex-direction: row;
  background-color: variables.$modalGray;
  border-radius: 5px;
  text-align: center;
  padding: 15px 20px;
  cursor: pointer;
  gap: 15px;
  position: absolute;
  bottom: 115px;
}